<%- include('./partials/header.ejs') %>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./partials/sidebar.ejs') %>              
        </div>
        <div class="col-sm-10">
            <div class="container mt-5">
                <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>
                <div class="row text-white mb-5">
                    <p class="mx-auto mb-5">
                        Feel free to contact me for any query, any support, anytime anywhere..!
                    </p>
                    <div class="col-sm-9 mb-5">
                        <form action="">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="inputName">Your Name</label>
                                    <input type="text" class="form-control mt-2" name="" id="inputName">
                                </div>

                                <div class="col-md-6">
                                    <label for="inputEmail">Your Email</label>
                                    <input type="email" class="form-control mt-2" name="" id="inputEmail">
                                </div>

                                <div class="col-md-12">
                                    <label for="inputSubject">Subject</label>
                                    <input type="text" class="form-control mt-2" name="" id="inputSubject">
                                </div>

                                <div class="col-md-12 mb-3">
                                    <label for="inputTextarea">your message</label>
                                    <textarea type="text" class="form-control mt-2" name="" id="inputTextarea">
                                        </textarea>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>