<%- include('./partials/header.ejs') %>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
                <%- include('./partials/sidebar.ejs') %>
            </div>
            <div class="col-sm-10">
                <div class="mt-5">
                    <div class="text-center">
                        <img src="/images/pic1.png" alt="" class="img-thumbnail" width="250px" height="150px">
                    </div>
                    <div class="mt-5 text-white text-justify mx=5">
                        <h1 class="fw-bold">Hello,</h1>
                        <div class="px-4" style="line-height : 2rem ; ">
                            <p style="text-indent:100px ;">I am <b class="text-warning">Ashish Kumawat</b> Lorem ipsum
                                dolor sit amet consectetur adipisicing elit. Vero a deleniti, soluta porro reiciendis
                                tenetur blanditiis dolor laborum cum, vel accusamus quo nulla, quas non nostrum fugiat
                                facere doloribus at.</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, unde quae! Cupiditate
                                porro repellendus quo voluptas in veritatis! Ea suscipit accusamus atque qui voluptas
                                tempore, iusto exercitationem aperiam reprehenderit ab laboriosam laborum ipsum
                                consequatur? Libero, reprehenderit! Earum quae cumque consectetur dolorem
                                exercitationem, labore reiciendis, dignissimos ipsam, ut ducimus explicabo ullam?
                            </p>
                        </div>

                    </div>
                    <div class="text-center">
                        <a href="/contact" class="btn btn-outline-warning mx-5 my-3">Hire me</a>
                        <a href="/contact" class="btn btn-outline-info">Contact</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>