<%- include('./partials/header.ejs') %>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./partials/sidebar.ejs') %>              
        </div>
        <div class="col-sm-10">
           <div class="container mt-5">
            <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
            <div class="row text-center mb-5 text-white">
                <div class="col-sm-4">
                    <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
                    <h3>SEO</h3>
                    <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto voluptates ipsam, voluptas ipsum ea eveniet natus mollitia voluptatum quasi nisi?</p>
                </div>
                <div class="col-sm-4">
                    <i class="fas fa-palette fa-2x mb-3 i-color"></i>
                    <h3>Web Design</h3>
                    <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto voluptates ipsam, voluptas ipsum ea eveniet natus mollitia voluptatum quasi nisi?</p>
                </div>
                <div class="col-sm-4">
                    <i class="fas fa-code fa-2x mb-3 i-color"></i>
                    <h3>Web Development</h3>
                    <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto voluptates ipsam, voluptas ipsum ea eveniet natus mollitia voluptatum quasi nisi?</p>
                </div>
            </div>
            <div class="row text-center mb-5 text-white">
                <div class="col-sm-4">
                    <i class="fab fa-apple fa-2x mb-3 i-color"></i>
                    <h3>IOS</h3>
                    <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto voluptates ipsam, voluptas ipsum ea eveniet natus mollitia voluptatum quasi nisi?</p>
                </div>
                <div class="col-sm-4">
                    <i class="fas fa-ad fa-2x mb-3 i-color"></i>
                    <h3>Advertising</h3>
                    <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto voluptates ipsam, voluptas ipsum ea eveniet natus mollitia voluptatum quasi nisi?</p>
                </div>
                <div class="col-sm-4">
                    <i class="fab fa-android fa-2x mb-3 i-color"></i>
                    <h3>Android Development</h3>
                    <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto voluptates ipsam, voluptas ipsum ea eveniet natus mollitia voluptatum quasi nisi?</p>
                </div>
            </div>
           

           
           </div>
           
        </div>
    </div>
</div>
   
    <%- include('./partials/footer.ejs') %>